body {
    height: 90vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to top left, #28b487, #7dd56f);
}

h1 {
    font-family: sans-serif;
    font-size: 50px;
    line-height: 1.3;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: rgb(63, 58, 58);
}

button {
    width: 50px;
    height: 20px;
    margin: 10px;
}

textarea {
    width: 300px;
    height: 100px;
}

.quill-wrap {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.info {
    text-align: center;
    margin-top: 20px;
}

.quill-wrap .ql-active {
    border: 1px solid #ccc !important;
    border-radius: 4px;
}

.quill-wrap button,
.quill-wrap .ql-picker {
    margin-right: 2px
}

button {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400 !important;
    background-color: #6f726e;
    color: #fff;
    padding: 23px 50px;
    margin: auto;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 0.7em;
    text-transform: uppercase;
}

button:hover {
    transform: scale(1.04, 1);
    background-color: #28b487;
    text-decoration: none;
}